@media (min-height: 768px) {
    h1  {
        font-size: 2em;
    }

    p {
        padding: .5em;
    }

    .instagram {
        width: 70%;
        margin: 0 auto;
    }

    h2 {
        font-size: 2em;
    }
    
}

img {
    margin-right: 15px;
}

.collage {
    border: 3px solid #fff;
    border-radius: 10px;
}

.roadmap {
    width: 1300px;
    margin-right: 15px;
    padding-bottom: 6em;
}

.instagram {
    padding-top: 3em;
    width: 50%;
    float: left;
}
.blossom {
    padding-top: 5em;
}
 
.singing {
    width: 800px;
    float: left;
    padding-top: 5em;
}

.sour {
    width: 700px;
    padding-top: 8em;
}

.twitter {
    width: 800px;
    padding-bottom: 8em;
}

.img-fluid-tour {
    width: 900px;
    padding-top: 8em;
}

.gif {
    width: 400px;
    float: right;
    padding-bottom: 8em;
}

.signature {
    width: 600px;
    float: right;
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
}


header{
    padding: 2em 0;
}

body {
    background-color: #645394;
    color:#fff; 
}

main {
    background-color: #645394;
    padding: 1em 0;
    text-align: center;
}


h1{
    font-size: 4em;
    font-weight: bold;
    font-family: Didot, serif;
    text-align: right;
    padding: 2em 0;
    background-color: #645394; 
    }
 
p {
    font-size: 1.5em;
    font-family: Avenir, sans-serif;
    padding: 5em;

}

.container {
    padding-top: 2em;
}

.younger {
    float: right;
}


h2 {
    font-size: 3em;
    font-family: Didot, serif;
    text-align: center;
    background-color: #875692;
    padding: 2em 0 2em 0;
}





